@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Custom Colors */
  --blush: #fcd3d2;
  --lavender: #8f73d1;
  --blossom: #efb4e1;
  --peach: #ffe1cd;
  --cotton: #ffdada;
  --petal: #f9cbcb;
  --grape: #674f9e;
  --ballet: #fddeea;
  --wisteria: #a285e4;
  --mauve: #efcdda;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.camera-frame {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  aspect-ratio: 3/4;
}

.rio-overlay {
  background: linear-gradient(
    135deg,
    rgba(255, 94, 58, 0.6),
    rgba(220, 148, 155, 0.6),
    rgba(146, 101, 169, 0.6),
    rgba(152, 184, 255, 0.6)
  );
  mix-blend-mode: overlay;
  border-radius: inherit;
}
